<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./public/style.css">
    <title>About</title>
    <!--<link rel="shortcut icon" type="image/png" href="/src/images/logo.png">-->
</head>
<body>
    <div class="outer-container">
        <div class="inner-container">
            <h1>EBO</h1>
            <ul>
                <li><a href="./index"><i class="fas fa-home"></i>Home</a></li>
                <li><a href="./bookingReperation"><i class="fas fa-plus-square"></i>Book</a></li>
                <li><a href="./myBookings"><i class="fas fa-book"></i>My Bookings</a></li>
                <li><a href="./about"><i class="fas fa-address-card"></i>About</a></li>
                <li><a href="/logout"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
            </ul>
        </div>
        <div class="contact ar">

            <div class="about-us">
                <h2 class="anon">About</h2>
                <p>With the help of this website you can book service time for instance if you brake something at home and get updated news on what is happening in your housing society. </p>
                <p>This project was to get familiar with front and backend functionalities, It was my first web development application, I've managed to do it in less than a month. If you see any
                imperfections it is just that i am still learning :)</p>
            </div>


        </div>
</body>
</html>