<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/booking.css">
    <title>My Booking</title>
    <!--<link rel="shortcut icon" type="image/png" href="/src/images/logo.png">-->

</head>

<body>
    <div class="outer-container">
        <div class="inner-container">
            <h1>EBO</h1>
            <ul>
                <li><a href="./index"><i class="fas fa-home"></i>Home</a></li>
                <li><a href="./bookingReperation"><i class="fas fa-plus-square"></i>Book</a></li>
                <li><a href="./myBookings"><i class="fas fa-book"></i>My Bookings</a></li>
                <li><a href="./about"><i class="fas fa-address-card"></i>About</a></li>
                <li><a href="/logout"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
            </ul>
        </div>


        <h1 class="page-header">My Bookings</h1>
        <table class="tableData">
            <thead>
                <tr>
                    <th>Book ID</th>
                    <th>Description</th>
                    <th>Booked Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="tb"></tbody>

        </table>

        <script>
            fetch('http://localhost:3002/booked').then(function (response) {
                return response.json();
            }).then(function (data) {
                appendData(data);
            }).catch(function (err) {
                console.log("error:" + err);
            });

            function appendData(data) {

                let tbodyContainer = document.getElementById("tb");
                for (let i = 0; i < data.length; i++) {
                    let tr = document.createElement("tr");
                    const dateOnly = new Date(data[i].book_date)
                    const d = dateOnly.getFullYear() + '-' + dateOnly.getDate() + '-' + (dateOnly.getMonth() + 1);

                    tr.innerHTML =
                        "<tr class='tr'>" +
                        "<td class='td'>" + data[i].address + "</td>" +
                        "<td class='td'>" + data[i].descr + "</td>" +
                        "<td class='td'>" + d + "</td>" +
                        `<td class"'td'> <a class="btn_delete" href='/delete?book_id=${data[i].book_id}'>cancel</a></th>` +

                        "</tr>";

                    tbodyContainer.appendChild(tr);
                }
            }
        </script>


    </div>
</body>
</html>

